*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 100%; 
    min-height: 100%;
}

h1{
    padding: 20px;
    text-align: center;
    background-color: beige;
}

#botones{
    margin-top: 10px;
    padding: 15px;
    background-color:aliceblue;
    display: flex;
    justify-content: space-around;
}

#formulario{
    display:none;
    margin-top: 10px;
    padding: 15px;
    background-color:aliceblue;
    flex-direction: column;
    gap: 15px;
}

.delete{
    height: 100%;
    padding: 5px;
    background-color: rgb(253, 108, 108);
    border-radius: 10px;
    border: 1px rgb(218, 40, 40) solid;
}

.edit{
    height: 100%;
    padding: 5px;
    background-color: rgb(103, 160, 245);
    border-radius: 10px;
    border: 1px rgb(33, 95, 187) solid;
}

.add{
    height: 100%;
    padding: 5px;
    background-color: rgb(199, 250, 123);
    border-radius: 10px;
    border: 1px rgb(154, 202, 82) solid;
}

#form{
    display: flex;
    gap: 30px;
}

#idTarea{
    display: none;
}

#delete{
    display: none;
}

#edit{
    display: none;
}

#add{
    display: none;
}

#listaTarea{
    margin-top: 10px;
    padding: 15px;
    background-color:blanchedalmond;
}

table{
    width: 100%;
    border-collapse: collapse;
    border: 2px black solid;
    background-color: white;
}

th,td{
    border:1px solid black;
    padding: 10px;
    text-align: center;
}
th{
    border-bottom: 2px solid black;
}

#elimEdit{
    display: flex;
    justify-content: space-around;
    border: none;
}